@font-face {
    font-family: 'Geist';
    src: url(../src/assets/fonts/GeistVariableVF.ttf);
    font-style: normal;
}
body{
    margin: 0 auto;
    background-color: #0B0B0B;
    color: white;
    font-family: 'Geist';
}

.ujujjjuju{
  padding-top: 200px;
  background-color: #0B0B0B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    }

    .loader {
        color: white;
        font-family: 'Geist';
        font-weight: 300;
        font-size: 55px;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        height: 80px;
        padding: 10px 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        border-radius: 8px;
      }
    
      .words {
        overflow: hidden;
        position: relative;
      }
      .words::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(
          var(--bg-color) 10%,
          transparent 30%,
          transparent 70%,
          var(--bg-color) 90%
        );
        z-index: 20;
      }
      
      .word {
        display: block;
        height: 100%;
        font-weight: 300;
        font-family: 'Geist';
        padding-left: 6px;
        color: #ADEAA2;
        animation: spin_4991 4s infinite;
      }
    
      @keyframes spin_4991 {
        10% {
          -webkit-transform: translateY(-102%);
          transform: translateY(-102%);
        }
    
        25% {
          -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
        }
    
        35% {
          -webkit-transform: translateY(-202%);
          transform: translateY(-202%);
        }
    
        50% {
          -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
        }
    
        60% {
          -webkit-transform: translateY(-302%);
          transform: translateY(-302%);
        }
    
        75% {
          -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
        }
    
        85% {
          -webkit-transform: translateY(-402%);
          transform: translateY(-402%);
        }
    
        100% {
          -webkit-transform: translateY(-400%);
          transform: translateY(-400%);
        }
      }

.dash{
    color: #ADEAA2;
}



.des h2{
 text-align: center;
 font-weight: 200;
 font-family: 'Geist';
 padding-bottom: 60px;
}

.descblock{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0B0B0B;
}

.green{
  color: #ADEAA2;
}
.about_block{
  width: 500px;
  height: 398px;
}
.titkleod h2{
  font-family: 'Geist';
  font-weight: 400;
  font-size: 45px;
}
.about_block h3{
  font-family: 'Geist';
  font-weight: 400;
  font-size: 45px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.background_wrappe{
  background-color: #0B0B0B;
}
.Cardsecondprice{
  padding-top: 200px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.about_block h4{
  padding-bottom: 390px;
  font-family: 'Geist';
  font-weight: 300;
  font-size: 17px;
  color: white;
  padding-top: 20px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.work_widsh_who{
  background-color: #0B0B0B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 300px;
}
.work_widsh_who h2{
  font-weight: 300;
  font-size: 25px;
  padding-bottom: 50px;
}
.jjjj{
  margin-right: 10px;
}
.backclients{
  padding-top: 300px;
  background-color: #0B0B0B;
  display: flex;
  justify-content: center;
}
.backclients{
  padding-bottom: 150px;
}
.prcie_of_buisness{

  align-items: center;
  padding-top: 200px;
  background-color: #0B0B0B;
  display: flex;
  gap: 30px;
  color: black;
}
.prcie_of{
  background-color: #0B0B0B;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px){
  .containet_content {
    flex-direction: column;
  }
  .kefkef {
    flex-direction: column;
  }
  .deddd{
    padding: 0px 20px;
  }
  .ijewofjwefo{
    width: 100% !important;
  }
  .wefjief img{
    width: 100% !important;
  }
  .desc {
    width: 100%;
}
  .containet_content{
    gap: 50px;
  }
  
  .ijewofjwefo {
    padding-top: 16px;
    opacity: 0.7;
    width: 40vw;
    font-weight: 200;
    font-size: 18px;
  }
  .wefjief img {
    width: 80vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 10px;
  }
}
/* Медиа-запрос для маленьких экранов */
@media (max-width: 768px) {
  .loader {
    height: 160px;
    font-size: 10vw;
    flex-direction: column; /* Элементы идут вертикально */
    align-items: center; /* Выравнивание по центру */
  }

  .des h2{
    font-size: 4vw;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0vw 2vw !important;
    
}
  .presentation_butt button{
    font-size: 3vw !important;
    padding: 3vw 7vw !important;
  }
  .logo h2 {
    font-size: 4vw !important;
  }
  .card_keyses a img {
    width: 84vw !important;
    height: 59vw !important;
    object-fit: cover;
    border-radius: 5px !important;
}
  .words {
    text-align: center;
    margin-top: 20px; /* Отступ сверху для words */
  }
  .about_block {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 208px;
  }
  .about_block h4 {
    padding-bottom: 170px;
    font-family: 'Geist';
    font-weight: 300;
    font-size: 5vw;
    color: white;
    padding-top: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-align: center;
  }
  .card-container{
    gap: 0px !important;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .prcie_of_buisness {
    align-items: center;
    padding-top: 200px;
    background-color: #0B0B0B;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: black;
  }
  .container_content_main{
    margin-top: 300px;
  }
  .Cardsecondprice{
    flex-direction: column;
  }
  .titkleod h2{
    font-size: 7vw;
  }
  .mobilecards {
    width: 85vw !important;
    object-fit: cover;
} 
  .action {
    font-size: 4.5vw !important;
  }
  .work_widsh_who h2 {
    font-weight: 300;
    font-size: 5vw;
    padding-bottom: 50px;
    text-align: center;
  }
  .work_widsh_who {
    padding: 180px 4vw 4vw 4vw;
} 
  .styled_text{
    font-size: 4vw;
    padding: 4vw 4vw !important;
  }
  .white_background img {
    width: 81vw !important;
    height: 150%;
    object-fit: cover;
}
.content_serves {
  display: flex
;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6vw !important;
}
.title_price h4 {
  font-size: 10vw !important;
  font-family: 'Geist';
  font-weight: 500;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.card{
  padding-top: 50px;
}
.description {
  list-style: none;
  font-size: 5vw;
  font-family: 'Geist';
  font-weight: 300;
  padding-inline-start: 0px;
  padding-bottom: 40px;
}
.rifkbl h2 {
  font-size: 6vw !important;
}
.moblll{
  gap: 0px !important;
  margin: 0 !important;

}
.rifkbl h4 {
  width: 100% !important;
  font-family: 'Geist';
  font-weight: 200;
  font-size: 14px;
}
}

.bg-red-100{
  display: flex;
}
.currentColor{
  background-color: white;
}
.wrpapper {
  padding: 30px 20px 30px 20px !important;
}
.titkleod{
  padding-left: 7vw;
}
.backclients {
  padding-top: 150px !important;
  padding: 31px;
}
.keysii{
  max-width: 95vw;
  padding-top: 3vw;
}
.h {
  gap: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.keysss{
  background-color: #0B0B0B;
  display: flex;
  justify-content: center;
}
